{% extends "base.html" %}

{% block page_name %}
Home
{% endblock page_name %}

{% block content %}

  {% for room in rooms_page.object_list %}
    <li>{{room.name}} / ${{room.price}}</li>
  {% endfor %}

  <h4>
    {% if rooms_page.has_previous %}
      <a href="?page={{rooms_page.previous_page_number}}">Prev</a>
    {% endif %}

    Page {{rooms_page.number}} of {{rooms_page.paginator.num_pages}}

    {% if rooms_page.has_next %}
      <a href="?page={{rooms_page.next_page_number}}">Next</a>
    {% endif %}
  </h4>

  {% for page in rooms_page.paginator.page_range %}
    <a href="?page={{page}}">{{page}}</a>
  {% endfor %}

{% endblock content %}
